<div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">List Of Driving Duties</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					List Of Driving Duties
					<div class="input-group pull-right">

						<label class="control-label"> Items Per Page (1-100) </label> <input
							name="itemsperpage" class="input-sm form-control pull-right"
							min=1 max=100 value=5 step=1 type="number"
							ng-model-options="{ debounce: 1000 }" ng-model="itemsPerPage">
					</div>

				</div>
				<div class="panel-body">
					<table class="table table-striped" st-pipe="serverFetch.process"
						st-table="drivingDutiesList">
						<thead>

							<tr>


								<th st-ratio="5">S.No.</th>
								<th st-ratio="15" st-sort="ddName">DD Name</th>
								<th st-ratio="15" st-sort="fromStation">From</th>
								<th st-ratio="15" st-sort="toStation">To</th>
								<th st-ratio="15" st-sort="departureTime">SignOn</th>
								<th st-ratio="10" st-sort="departureDay">SignOn Day</th>
								<th st-ratio="15" st-sort="arrivalTime">SignOff</th>
								<th st-ratio="10" st-sort="arrivalDay">SignOff Day</th>
								<th st-ratio="15" st-sort="duration">Duration</th>
								<th st-ratio="15" st-sort="distance">Distance</th>
								<th st-ratio="15" st-sort="isRoundTrip">IsRoundTrips</th>
								<th st-ratio="15" st-sort="isIgnore">Is DrivingDuty
									Selected</th>
								<th st-ratio="10">Actions</th>
							</tr>
							<tr>


								<th>&nbsp;</th>
								<th><input type="text" st-ratio="90" st-search="ddName"
									placeholder="Duty Name" st-delay="1000" /></th>
								<th><input type="text" st-ratio="90"
									st-search="fromStation" placeholder="From Station Code"
									st-delay="1000" /></th>
								<th><input type="text" st-ratio="90" st-search="toStation"
									placeholder="To Station Code" st-delay="1000" /></th>

								<th><input type="text" st-ratio="45"
									st-search="minArrivalTime" placeholder="Min arrival Time"
									st-delay="1000" /> <input type="text" st-ratio="45"
									st-search="maxArrivalTime" placeholder="Max arrival Time"
									st-delay="1000" /></th>

								<th><select st-ratio="90" st-search="departureDay">
										<option value="" selected>All</option>
										<option ng-repeat="day in Days" value="{{day}}">{{
											day }}</option>
								</select></th>

								<!-- <th><input type="text" st-ratio="90" st-search="startDay"
									placeholder="Start Day" st-delay="1000" /></th> -->

								<!-- <th>&nbsp;</th>
						<th>&nbsp;</th> -->

								<th><input type="text" st-ratio="45"
									st-search="minDepartureTime" placeholder="Min Start Time"
									st-delay="1000" /> <input type="text" st-ratio="45"
									st-search="maxDepartureTime" placeholder="Max Start Time"
									st-delay="1000" /></th>


								<th><select st-ratio="90" st-search="arrivalDay">
										<option value="" selected>All</option>
										<option ng-repeat="day in Days" value="{{day}}">{{
											day }}</option>
								</select></th>


								<th><input type="text" st-ratio="45"
									st-search="minDuration" placeholder="Min Duration"
									st-delay="1000" /> <input type="text" st-ratio="45"
									st-search="maxDuration" placeholder="Max Duration"
									st-delay="1000" /></th>
								<th><input type="text" st-ratio="45"
									st-search="minDistance" placeholder="Min Distance"
									st-delay="1000" /> <input type="text" st-ratio="45"
									st-search="maxDistance" placeholder="Max Distance"
									st-delay="1000" /></th>
								<th><select st-ratio="90" st-search="isRoundTrip">
										<option value="" selected>All</option>
										<option value="TRUE">Only With RoundTip</option>
										<option value="FALSE">Only With Out RoundTip</option>
								</select></th>

								<th><select st-ratio="90" st-search="isIgnore"
									ng-model="selectedValue">
										<option value="">All</option>
										<option value="false" selected>Not Ignored</option>
										<option value="true">Ignored</option>
								</select>




									<button id="notIgnored" class="btn btn-primary btn-xs"
										ng-click="updateNotIgnore()" ng-show="selectedValue=='true'">
										Not Ignored</button>


									<button id="ignoredAll" class="btn btn-primary btn-xs"
										ng-click="updateIgnoreAll()" ng-show="selectedValue=='false'">
										Ignored All</button></th>

							</tr>
						</thead>
						<tbody ng-show="!isLoading && (itemsPerPage)">
							<tr ng-repeat="drivingDuty in drivingDutiesList.data">

								<td>{{(itemsPerPage)? ((currentPage * itemsPerPage + $index
									+1)-itemsPerPage ):''}}</td>

								<td>{{drivingDuty[drivingDutiesList.fields.ddName]}}</td>
								<td>{{drivingDuty[drivingDutiesList.fields.fromStation]}}</td>
								<td>{{drivingDuty[drivingDutiesList.fields.toStation]}}</td>

								<td>{{drivingDuty[drivingDutiesList.fields.departureTime]}}</td>
								<td>{{Days[drivingDuty[drivingDutiesList.fields.departureDay]]|limitTo:3}}</td>
								<td>{{drivingDuty[drivingDutiesList.fields.arrivalTime]}}</td>
								<td>{{Days[drivingDuty[drivingDutiesList.fields.arrivalDay]]|limitTo:3}}</td>
								<td>{{drivingDuty[drivingDutiesList.fields.duration]|
									time:'mm':'hhh mmm':false}}</td>
								<td>{{drivingDuty[drivingDutiesList.fields.distance]}}</td>
								<td>{{(drivingDuty[drivingDutiesList.fields.isRoundTrip])?'Yes':'No'}}</td>
								<td><input type="checkbox"
									ng-model="drivingDuty[drivingDutiesList.fields.isIgnore]"
									ng-change="updateDrivingDutyIsIgnore(drivingDuty);"
									ng-init="drivingDuty[drivingDutiesList.fields.isIgnore] = (drivingDuty[drivingDutiesList.fields.isIgnore]>0)?true:false" />
								</td>

								<td><a class="btn btn-xs btn-danger fa fa-remove"
									ng-click="removeDrivingDuty(drivingDuty[drivingDutiesList.fields.id])"
									confirm="Are you sure to delete !!! : {{drivingDuty[drivingDutiesList.fields.ddName]}}"
									confirm-settings="{size: 'md'}"
									confirm-header-class="confirm-header-danger "
									confirm-footer-class="confirm-footer-default"
									confirm-ok-button-class="btn-danger"
									confirm-cancel-button-class="btn-default"
									confirm-title="Confirm Deletion!!" confirm-ok="Yes"
									confirm-cancel="No" title="Remove"></a>&nbsp;&nbsp;&nbsp; <a
									class="btn btn-xs btn-success fa fa-bars"
									ng-click="viewdrivingDutyElement(drivingDuty[drivingDutiesList.fields.id])"
									data-toggle="modal" data-target="#myModal" title="view"> </a></td>

							</tr>
						</tbody>
						<tbody ng-show="isLoading">
							<tr style="height: 200px">
								<td colspan="9" class="text-center"><i
									class="fa fa-spinner fa-3x fa-pulse"> </i> Loading Driving
									Duties...</td>
							</tr>
						</tbody>

						<tfoot>
							<tr>
								<td colspan="9" class="text-center">
									<div st-items-by-page="itemsPerPage" st-pagination=""
										st-template="scripts/directives/pagination/pagination.custom.html"></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
	<toaster-container
		toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-bottom-right'}"></toaster-container>



	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog driving-duty-modal-custom">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Driving Duty Elements</h4>
				</div>



				<div class="col-lg-12">
					<div class="row"
						ng-repeat="drivingDutyElement in drivingDutyElements.data">
						<div class="col-xs-3 startPilot padding3">
							<div class="panel panel-green text-center">
								<div class="panel-heading">
									<h3 class="panel-title">Start Pilot</h3>
								</div>
								<div class="panel-body padding5">



									<div>
										<div
											ng-show="drivingDutyElement[drivingDutyElements.fields.startPilotTypeName]">

											<div class="row">
												Pilot Type : <strong>{{drivingDutyElement[drivingDutyElements.fields.startPilotTypeName]}}</strong>
											</div>
											<div class="row">
												Trip Name: <strong>{{drivingDutyElement[drivingDutyElements.fields.startPilotTripName]}}</strong>
											</div>

											<div class="row">
												From: <strong>{{drivingDutyElement[drivingDutyElements.fields.startPilotFromStation]}}</strong>
											</div>

											<div class="row">
												To: <strong>{{drivingDutyElement[drivingDutyElements.fields.startPilotToStation]}}</strong>
											</div>

											<div class="row">
												departure Day: <strong>{{Days[drivingDutyElement[drivingDutyElements.fields.startPilotDepartureDay]]|limitTo:3}}</strong>
											</div>

											<div class="row">
												departure: <strong>{{drivingDutyElement[drivingDutyElements.fields.startPilotDepartureTime]}}</strong>
											</div>


											<div class="row">
												arrival Day: <strong>{{Days[drivingDutyElement[drivingDutyElements.fields.startPilotArrivalDay]]|limitTo:3}}</strong>
											</div>

											<div class="row">
												arrival: <strong>{{drivingDutyElement[drivingDutyElements.fields.startPilotArrivalTime]}}</strong>
											</div>




											<div class="row">
												Duration : <strong>{{drivingDutyElement[drivingDutyElements.fields.startPilotduration]|
													time:'mm':'hhh mmm':false}}</strong>
											</div>
											<div class="row">
												Distnace : <strong>{{drivingDutyElement[drivingDutyElements.fields.startPilotdistance]}}KM</strong>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>




						<div class="col-xs-6 drivingSection padding3">
							<div class="panel panel-primary text-center">
								<div class="panel-heading">
									<h3 class="panel-title">Driving Duty Element</h3>
								</div>
								<div class="panel-body padding5">

									<div class="row">
										<div class="col-lg-12 table-responsive">
											<table class="table table-striped">
												<thead>
													<tr>
														<!-- <th>S.No.</th> -->
														<th>From</th>
														<th>To</th>
														<th>SignOn</th>
														<th>SignOn Day</th>
														<th>SignOff</th>
														<th>SignOff Day</th>
														<th>Duration</th>
														<th>Distance</th>

													</tr>
												</thead>

												<tbody>
													<tr>

														<td>{{drivingDutyElement[drivingDutyElements.fields.drivingSectionFromStation]}}</td>
														<td>{{drivingDutyElement[drivingDutyElements.fields.drivingSectionToStation]}}</td>
														<td>{{drivingDutyElement[drivingDutyElements.fields.drivingSectionDepartureTime]}}</td>
														<td>{{Days[drivingDutyElement[drivingDutyElements.fields.drivingSectionDepartureDay]]}}</td>
														<td>{{drivingDutyElement[drivingDutyElements.fields.drivingSectionArrivalTime]}}</td>
														<td>{{Days[drivingDutyElement[drivingDutyElements.fields.drivingSectionArrivalDay]]}}</td>
														<td>{{drivingDutyElement[drivingDutyElements.fields.drivingSectionDuration]
															| time:'mm':'hhh mmm':false}}</td>
														<td>{{drivingDutyElement[drivingDutyElements.fields.drivingSectionDistance]}}
															KM</td>

													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>



						<div class="col-xs-3 endPilot padding3">
							<div class="panel panel-red text-center">
								<div class="panel-heading">
									<h3 class="panel-title">End Pilot</h3>
								</div>
								<div class="panel-body padding5">



									<div>
										<div
											ng-show="drivingDutyElement[drivingDutyElements.fields.endPilotTypeName]">
											<div class="row">
												Pilot Type : <strong>{{drivingDutyElement[drivingDutyElements.fields.endPilotTypeName]}}</strong>
											</div>
											<div class="row">
												Trip Name: <strong>{{drivingDutyElement[drivingDutyElements.fields.endPilotTripName]}}</strong>
											</div>

											<div class="row">
												From: <strong>{{drivingDutyElement[drivingDutyElements.fields.endPilotFromStation]}}</strong>
											</div>

											<div class="row">
												To: <strong>{{drivingDutyElement[drivingDutyElements.fields.endPilotToStation]}}</strong>
											</div>

											<div class="row">
												departure Day: <strong>{{Days[drivingDutyElement[drivingDutyElements.fields.endPilotDepartureDay]]|limitTo:3}}</strong>
											</div>

											<div class="row">
												departure: <strong>{{drivingDutyElement[drivingDutyElements.fields.endPilotDepartureTime]}}</strong>
											</div>

											<div class="row">
												Arrival Day: <strong>{{Days[drivingDutyElement[drivingDutyElements.fields.endPilotArrivalDay]]|limitTo:3}}</strong>
											</div>


											<div class="row">
												Arrival: <strong>{{drivingDutyElement[drivingDutyElements.fields.endPilotArrivalTime]}}</strong>
											</div>




											<div class="row">
												Duration : <strong>{{drivingDutyElement[drivingDutyElements.fields.endPilotduration]|
													time:'mm':'hhh mmm':false}}</strong>
											</div>
											<div class="row">
												Distnace : <strong>{{drivingDutyElement[drivingDutyElements.fields.endPilotdistance]}}
													KM</strong>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>



				</div>



				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<!-- Modal end -->



</div>

