/* @CHARSET "ISO-8859-1";

svg {
	font: 10px sans-serif;
}
.axis path {
	fill: none;
	stroke: #999;
	stroke-dasharray: 2 3;
}

path.spiral {
	fill: none;
	stroke: #ee8d18;
	stroke-width: 3px;
}

.axis text {
	font-size: 13px;
	stroke: #222;
}

text.title {
	font-size: 24px;
	font-family: "times new roman";
}

circle.tick {
	fill: #f3f3f3;
	stroke: #999;
	stroke-dasharray: 2 3;
}

.tooltip {
	position: absolute;
	padding: 12px;
	border-radius: 5px;
	margin: 2px;
	color: blue;
	height: auto;
	width: auto;
	opacity: 1;
	box-shadow: 0px 0px 20px rgba(94, 80, 80, 0.99);
	background-color: white;
} */